<footer th:fragment="footer" class="bg-dark text-white py-4 mt-5">
	<div class="container">
		<div class="row">
			<div class="col-lg">
				<h5 class="my-3">Information</h5>
				<p class="text-muted">
					Wizardery is a webapp build for people who like table RPGs and for those who share common tastes. The aim is to let users create their RPGs and scenarios through our website so that others can see and play the said games. With functionalities such as Markdown support and file uploads, it lets you create your RPG experience in a single and common place so that other may share similar experience.  
				</p>
				<h5 class="my-3">Social networks</h5>
				<p class="text-muted">Like what we do ? Then you can follow us on twitter or instagram for updates and other informations !</p>
				<a class="text-light" href="#">
					<i class="fab fa-twitter fa-lg mx-2"></i>
				</a>
				<a class="text-light" href="#">
					<i class="fab fa-instagram fa-lg mx-2"></i>
				</a>
				<h5 class="my-3">&nbsp;</h5>
				<p class="text-lg-right">&copy; 2020 Wizardery</p>
			</div>
		</div>
	</div>
</footer>