<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
	<a class="navbar-brand wiz-logo-font mr-5" th:href="@{${T(com.example.demo.utils.Routes).DASHBOARD}}">
		<i class="fas fa-2x fa-hat-wizard"></i>
		Wizardery
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link text-light" th:href="@{${T(com.example.demo.utils.Routes).RPG_CREATE}}">Create game</a>
			</li>
		</ul>
		<ul class="navbar-nav">
			<li class="nav-item">
				<div sec:authorize="hasAuthority('ADMIN')">
					<a class="nav-link text-light" th:href="@{${T(com.example.demo.utils.Routes).ADMIN}}">Admin page</a>
				</div>
			</li>
			<li class="nav-item">
				<div sec:authorize="isAuthenticated()">
					<a class="nav-link text-light" href="#" onclick="document.forms['logoutForm'].submit()">Logout</a>
				</div>
				<div sec:authorize="!isAuthenticated()">
					<a class="nav-link text-light" th:href="@{${T(com.example.demo.utils.Routes).SIGNIN}}">Signin</a>
				</div>
			</li>
			<li class="nav-item">
				<div sec:authorize="isAuthenticated()">
					<a class="nav-link pb-0 pt-1" th:if="${#strings.isEmpty(session.profile_img)}" th:href="@{${T(com.example.demo.utils.Routes).USER_DETAILS + session.userId}}">
						<img class="img-thumbnail wiz-avatar" alt="profileImage" th:src="@{/images/default.png}" />
					</a>
					<a class="nav-link pb-0 pt-1" th:if="${!#strings.isEmpty(session.profile_img)}" th:href="@{${T(com.example.demo.utils.Routes).USER_DETAILS + session.userId}}">
						<img class="wiz-avatar" alt="profileImage" th:src="@{${'/profile/image/' + session.imageName + '/' + session.imageExt}}" />
					</a>
				</div>
			</li>
		</ul>
		<form class="d-none" id="logoutForm" action="#" th:action="@{${T(com.example.demo.utils.Routes).SIGNOUT}}" method="post">
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
		</form>
	</div>
</nav>