@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');

.wiz-logo-font {
	font-family: 'Trade Winds';
}

.wiz-navbar-divider {
	background-color: #ffffff;
}

.wiz-btn-secondary {
	color: #fff !important;
}

.logout {
	color: Blue;
}