@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');

.wiz-logo-font {
	font-family: 'Trade Winds';
}

.wiz-navbar-divider {
	background-color: #ffffff;
}

.wiz-btn-secondary {
	color: #fff !important;
}

.wiz-logout {
	color: Blue;
}

.wiz-avatar {
	width: 32px !important;
	height: 32px !important;
}

.wiz-avatar-profil {
	width: 250px !important;
	height: 250px !important;
}

.wiz-markdown h1 {
	font-size: 1.25rem;
}

.wiz-markdown h2 {
	font-size: 1rem;
}


.wiz-markdown h3 {
	font-size: 0.875rem;
}

.wiz-markdown h4 {
	font-size: 0.75rem;
}

.wiz-markdown h5 {
	font-size: 0.625rem;
}

.wiz-markdown h6 {
	font-size: 0.5rem;
}

.wiz-markdown ul {
	font-size: 1rem;
}