<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html" />
<body>
	<nav th:insert="fragments/navbar.html :: navbar"></nav>
	<div class="container">
		<h2 class="mb-3">Dashboard</h2>
		<div th:replace='fragments/pagination.html :: pagination(route=${T(com.example.demo.utils.Routes).DASHBOARD}, page=${pageNumber}, total=${pageTotal})'></div>
		<div th:if="${!#lists.isEmpty(rpgs)}">
			<div class="rpg-card-holder" th:each="rpg : ${rpgs}">
				<div
					th:replace="fragments/rpg-card.html :: rpg-card(title=${rpg.name}, creator=${rpg.creator.username}, content=${rpg.description}, link=@{${T(com.example.demo.utils.Routes).RPG_DETAILS + rpg.id}})"></div>
			</div>
		</div>
		<div th:if="${#lists.isEmpty(rpgs)}">
			<p class="lead">No games found...</p>
		</div>
		
		<div th:replace='fragments/pagination.html :: pagination(route=${T(com.example.demo.utils.Routes).DASHBOARD}, page=${pageNumber}, total=${pageTotal})'></div>
	</div>
</body>
</html>