<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html" />
<body>
	<nav th:insert="fragments/navbar.html :: navbar"></nav>
	<div class="container">
		<h2 class="mb-3">Dashboard</h2>
		<div class="card p-4 mb-3">
			<form th:action="@{${T(com.example.demo.utils.Routes).SEARCH}}" method="get">
				<div class="form-group row mb-0">
					<div class="col-5">
						<input type="text" class="form-control" id="name" name="name" th:value="${name}" placeholder="Search by name...">
					</div>
					<div class="col-5">
						<select class="form-control" name="orderby">
							<option th:value="0" th:selected="${orderby == 0}">Order by...</option>
							<option th:value="1" th:selected="${orderby == 1}">Name ascending (A-Z)</option>
							<option th:value="2" th:selected="${orderby == 2}">Name descending (Z-A)</option>
							<option th:value="3" th:selected="${orderby == 3}">Creator ascending (Z-A)</option>
							<option th:value="4" th:selected="${orderby == 4}">Creator descending (Z-A)</option>
						</select>
					</div>
					<div class="col">
						<input type="submit" class="btn btn-secondary wiz-btn-secondary" value="Search">
					</div>
				</div>
			</form>
		</div>
		<div th:replace='fragments/pagination.html :: pagination(route=${T(com.example.demo.utils.Routes).SEARCH}, name=${name}, orderby=${orderby}, page=${pageNumber}, total=${pageTotal})'></div>
		<div class="wiz-search-result">
			<div class="mt-3" th:if="${!#lists.isEmpty(rpgs)}">
				<div class="rpg-card-holder" th:each="rpg : ${rpgs}">
					<div th:replace="fragments/rpg-card.html :: rpg-card(title=${rpg.name}, creator=${rpg.creator.username}, content=${rpg.description}, link=@{${T(com.example.demo.utils.Routes).RPG_DETAILS + rpg.id}})"></div>
				</div>
			</div>
		</div>
		<div th:replace='fragments/pagination.html :: pagination(route=${T(com.example.demo.utils.Routes).SEARCH}, name=${name}, orderby=${orderby}, page=${pageNumber}, total=${pageTotal})'></div>
	</div>
</body>
</html>