<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html" />
<body>
	<nav th:insert="fragments/navbar.html :: navbar"></nav>
	<div class="container">
		<h2 class="mb-3">Dashboard</h2>
		<div class="card p-2">
			<form th:action="@{${T(com.example.demo.utils.Routes).SEARCH}}" method="get">
				<div class="form-group row">
					<div class="col">
						<label for="name">Name</label>
						<input type="text" class="form-control" id="name" name="name" th:value="${name}" placeholder="Search...">
					</div>
					<div class="col">
						<label for="type">Type</label>
						<select class="form-control" name="type">
							<option value="0" th:selected="${type == 0}">All</option>
							<option value="1" th:selected="${type == 1}">RPGs</option>
							<option value="2" th:selected="${type == 2}">Scenario</option>
						</select>
					</div>
				</div>
				<div class="form-group d-none">
					<input type="submit" class="btn btn-secondary wiz-btn-secondary" value="Search">
				</div>
			</form>
		</div>
		<div class="wiz-search-result">
			<h4 class="mt-3" th:if="${rpg_count}" th:text="${'RPGs' + ' (' + rpg_count + ')'}"></h4>
			<div class="mt-3" th:if="${!#lists.isEmpty(rpgs)}">
				<div class="rpg-card-holder" th:each="rpg : ${rpgs}">
					<div th:replace="fragments/rpg-card.html :: rpg-card(title=${rpg.name}, creator=${rpg.creator.username}, content=${rpg.description}, link=@{${T(com.example.demo.utils.Routes).RPG_DETAILS + rpg.id}})"></div>
				</div>
			</div>
			<h4 class="mt-3" th:if="${scenario_count}" th:text="${'Scenarios' + ' (' + scenario_count + ')'}"></h4>
			<div class="mt-3" th:if="${!#lists.isEmpty(scenarios)}">
				<div class="rpg-card-holder" th:each="scenario : ${scenarios}">
					<div th:replace="fragments/rpg-card.html :: rpg-card(title=${scenario.name}, creator=${scenario.creator.username}, content=${scenario.description}, link=@{${T(com.example.demo.utils.Routes).SCENARIO_DETAILS + scenario.id}})"></div>
				</div>
			</div>
			<div th:if="${#lists.isEmpty(rpgs) && #lists.isEmpty(scenarios)}">
				<p class="lead">No results found...</p>
			</div>
		</div>
	</div>
</body>
</html>