<!DOCTYPE html>
<html>
<head th:insert="fragments/head.html"/>
<body>
	<nav th:insert="fragments/navbar.html :: navbar"/>
	
	<img alt="profileImage" src=""/>
	<h1>Toto</h1>
	<h2>toto@toto.ch</h2>
	<h1>Description</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ultrices dui sapien eget mi proin sed libero. Malesuada fames ac turpis egestas maecenas pharetra convallis posuere morbi. In dictum non consectetur a erat nam at lectus. Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Varius quam quisque id diam vel quam elementum pulvinar. Suspendisse potenti nullam ac tortor vitae. Nulla pellentesque dignissim enim sit amet venenatis urna. In fermentum et sollicitudin ac orci phasellus. Diam phasellus vestibulum lorem sed risus. Praesent elementum facilisis leo vel fringilla. Pretium viverra suspendisse potenti nullam ac tortor vitae purus faucibus. Porta non pulvinar neque laoreet suspendisse interdum consectetur libero. Lacus sed turpis tincidunt id aliquet. Arcu felis bibendum ut tristique et egestas.</p>
	<h1>Favorite games</h1>
	<h2>Dungeon & Dragons</h2>
	<p>Viverra adipiscing at in tellus integer feugiat. Varius vel pharetra vel turpis. Eu augue ut lectus arcu bibendum at. Risus quis varius quam quisque id diam vel quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames. Id ornare arcu odio ut sem nulla pharetra. Elementum eu facilisis sed odio morbi. Felis bibendum ut tristique et egestas quis ipsum suspendisse. Curabitur vitae nunc sed velit. Nam libero justo laoreet sit amet cursus sit amet dictum. Aliquet sagittis id consectetur purus. Amet luctus venenatis lectus magna fringilla. Tristique senectus et netus et malesuada fames ac. A pellentesque sit amet porttitor eget dolor.</p>
	<h1>Created games</h1>
	<h2>Pathfinder</h2>
	<p>Amet luctus venenatis lectus magna fringilla. Tristique senectus et netus et malesuada fames ac. A pellentesque sit amet porttitor eget dolor. Faucibus interdum posuere lorem ipsum dolor sit.</p>
	
</body>
</html>