<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="fragments/head.html" />
<body>
	<nav th:insert="fragments/navbar.html :: navbar"></nav>
	<div class="container">
		<div class="col">
			<h2 th:text="${rpg.name}"></h2>
			<p class="text-muted"
				th:text="${'Created by ' + rpg.creator.username}"></p>
			<div sec:authorize="isAuthenticated()">
				<div th:if="${!hasFavourite}">
					<form th:action="@{${rpg.id + '/addToFavourite'}}"
						th:object="${user}" method="post">
						<input type="hidden" th:field="*{id}" id="user" name="user"
							value="${user.id}"> <input type="submit"
							class="btn btn-secondary wiz-btn-secondary"
							value="Add to favourites" name="submit">
					</form>
				</div>
				<div th:if="${rpg.creator.id == user.id}">
					<form th:action="@{${rpg.id + '/update/form'}}" method="post" th:object="${rpg}">
						<input type="hidden" th:field="*{id}" id="rpg" name="rpg" value="${rpg.id}">
						<input type="submit" class="btn btn-secondary wiz-btn-secondary" value="Update" name="submit">
					</form>
					<form th:action="@{${rpg.id + '/delete'}}" method="post" th:object="${rpg}" onsubmit="return confirm('Are you sure?');">
						<input type="hidden" th:field="*{id}" id="rpg" name="rpg" value="${rpg.id}">
						<input type="submit" class="btn btn-danger" value="Delete" name="submit">
					</form>
				</div>
				<div th:if="${hasFavourite}">
					<form action="#" method="post">
					<!-- todo -->
					</form>
				</div>
			</div>
			<div sec:authorize="!isAuthenticated()">
				<a th:href="@{${T(com.example.demo.utils.Routes).SIGNIN}}"
					class="btn btn-secondary wiz-btn-secondary">Add to favourites</a>
			</div>
			<div class="rpg-description mt-3">
				<p class="lead" th:text="${rpg.description}"></p>
			</div>
			<h4>Rules</h4>
			<div class="rpg-rules mt-3">
				<p class="lead" th:text="${rpg.rules}"></p>
			</div>
			<h4>Appendices</h4>
			<div class="rpg-appendices mt-3">
				<div class="card p-3">
					<a href="#" class="text-primary">lorem_ipsum.pdf</a>
				</div>
			</div>
			<h4 class="mt-3">Scenarios</h4>
			<div class="rpg-scenarios">
				<a th:href="@{${T(com.example.demo.utils.Routes).SCENARIO_CREATE}}"
					class="btn btn-secondary wiz-btn-secondary mb-3">Add a scenario</a>
				<div
					th:replace="fragments/rpg-card.html :: rpg-card(title='A great journey', creator='Toto', content='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.', link='/rpg/scenario')"></div>
			</div>
		</div>
	</div>
</body>
</html>