<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html" />
<body>
	<nav th:insert="fragments/navbar.html :: navbar"></nav>
	<div class="container">
		<div class="col">
			<h2 th:text="${scenario.name}"></h2>
			<p class="text-muted">Created by <a th:text="${scenario.creator.username}" th:href="@{${T(com.example.demo.utils.Routes).USER_DETAILS + scenario.creator.id}}"></a></p>
			<div sec:authorize="isAuthenticated()">
				<div class="d-inline" th:if="${!hasFavourite}">
					<form class="d-inline" th:action="@{${scenario.id + '/addToFavourite'}}" th:object="${user}" method="post">
						<input type="hidden" th:field="*{id}">
						<input type="submit" class="btn btn-secondary wiz-btn-secondary" value="Add to favourites" name="submit">
					</form>
				</div>
				<div class="d-inline" th:if="${hasFavourite}">
					<form class="d-inline" th:action="@{${scenario.id + '/removeFromFavourite'}}" th:object="${user}" method="post">
						<input type="hidden" th:field="*{id}">
						<input type="submit" class="btn btn-secondary wiz-btn-secondary" value="Remove from favourites" name="submit">
					</form>
				</div>
				<div class="d-inline" th:if="${scenario.creator.id == user.id}">
					<form class="d-inline" th:action="@{${scenario.id + '/update/form'}}" method="post" th:object="${scenario}">
						<input type="hidden" th:field="*{id}" id="scenario" name="scenario" value="${scenario.id}">
						<input type="submit" class="btn btn-secondary wiz-btn-secondary" value="Update" name="submit">
					</form>
					<form class="d-inline" th:action="@{${scenario.id + '/delete'}}" method="post" th:object="${scenario}"
						onsubmit="return confirm('Are you sure?');">
						<input type="hidden" th:field="*{id}">
						<input type="hidden" th:field="*{rpg}">
						<input type="submit" class="btn btn-danger" value="Delete" name="submit">
					</form>
				</div>
			</div>
			<div class="scenario-description border rounded p-3">
				<div class="wiz-markdown">
					<p th:utext="${scenario.description}"></p>
				</div>
			</div>
			<h4 class="mt-3">Number of players</h4>
			<div class="scenario-nbplayer">
				<div class="row">
					<div class="col-sm">
						<p class="lead">Min. : <span th:text="${scenario.minPlayers}"></span> players</p>
					</div>
					<div class="col-sm">
						<p class="lead">Advised : <span th:text="${scenario.advisedPlayers}"></span> players</p>
					</div>
					<div class="col-sm">
						<p class="lead">Max. : <span th:text="${scenario.maxPlayers}"></span> players</p>
					</div>
				</div>
			</div>
			<h4>Difficulty</h4>
			<div class="scenario-difficulty">
				<p class="lead" th:text="${scenario.difficulty}"></p>
			</div>
			<h4>Time to complete</h4>
			<div class="scenario-timeapprox">
				<p class="lead">About <span th:text="${scenario.timeApproximation}"></span> min.</p>
			</div>
			<h4 class="mt-3">Quests</h4>
			<div class="scenario-quests border rounded p-3">
				<div class="wiz-markdown">
					<div class="scenario-quests" th:utext="${scenario.quests}"></div>
				</div>
			</div>
			<h4 class="mt-3">Appendices</h4>
			<div class="scenario-appendices">
				<div class="card p-3" th:each="file : ${scenario.files}">
					<a th:href="@{${T(com.example.demo.utils.Routes).SCENARIO_DETAILS + scenario.id + '/download/' + file.id}}" class="text-primary" th:text="${file.name}"></a>
				</div>
				<div th:if="${#lists.isEmpty(scenario.files)}">
					<p class="lead">No appendices found...</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>