<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html" />
<body>
	<nav th:insert="fragments/navbar.html :: navbar" />
	<div class="container">
		<div class="card p-4">
			<h2>Signup</h2>
			<form action="#" method="post">
				<div class="form-group">
					<label for="email">Email address</label> <input type="email"
						class="form-control" id="email" aria-describedby="emailHelp">
					<small id="emailHelp" class="form-text text-muted">We'll
						never share your email with anyone else.</small>
				</div>
				<div class="form-group">
					<label for="username">Username</label> <input type="text"
						class="form-control" id="username">
				</div>
				<div class="form-group">
					<label for="password">Password</label> <input type="password"
						class="form-control" id="password">
				</div>
				<div class="form-group">
					<label for="password_confirm">Confirm password</label> <input
						type="password" class="form-control" id="password_confirm">
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<textarea class="form-control" id="description" rows="" cols=""></textarea>
				</div>
				<div class="form-group">
					<label for="avatar">Avatar</label>
					<div class="custom-file">
						<input type="file" class="custom-file-input" id="avatar" required>
						<label class="custom-file-label" for="avatar">Choose
							file...</label>
						<div class="invalid-feedback">File doesn't match formats or
							is too big</div>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-secondary wiz-btn-secondary"
						value="Submit">
				</div>
			</form>
		</div>
	</div>
</body>
</html>