<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html" />
<body>
	<nav th:insert="fragments/navbar.html :: navbar" />
	<div class="container mb-3">
		<div class="card p-4">
			<h2>Signup</h2>
			<form action="#" th:action="@{/signup}" method="post" th:object="${userForm}">
				<div class="form-group">
					<label for="email">Email address</label> 
					<input type="email" th:field="*{email}" th:errorclass="is-invalid" class="form-control" id="email" aria-describedby="emailHelp" name="email" required>
					<small id="emailHelp" class="form-text text-muted">We'll
						never share your email with anyone else.</small>
					<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback">Name Error</div>
				</div>
				<div class="form-group">
					<label for="username">Username</label> 
					<input type="text" th:field="*{username}" th:errorclass="is-invalid" class="form-control" id="username" name="username" required>
					<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="invalid-feedback">Name Error</div>
				</div>
				<div class="form-group">
					<label for="password">Password</label> 
					<input type="password" th:field="*{password}" th:errorclass="is-invalid" class="form-control" id="password" name="password" required>
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback">Name Error</div>
				</div>
				<div class="form-group">
					<label for="password_confirm">Confirm password</label>
					<input type="password" th:field="*{passwordConfirm}" th:errorclass="is-invalid" class="form-control" id="passwordConfirm" name="passwordConfirm" required>
					<div th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="invalid-feedback">Name Error</div>
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<textarea th:field="*{description}" class="form-control" id="description" rows="" cols="" name="description" required></textarea>
				</div>
				<div class="form-group">
					<label for="avatar">Avatar</label>
					<div class="custom-file">
						<!--<input type="file" class="custom-file-input" id="avatar" required>
						<label class="custom-file-label" for="avatar" name="avatar">Choose
							file...</label>
						<div class="invalid-feedback">File doesn't match formats or
							is too big</div>-->
						<input type="text" th:field="*{imageUrl}" class="form-control" id="imageUrl" name="imageUrl">
					</div>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-secondary wiz-btn-secondary"
						value="Submit" name="submit">
				</div>
			</form>
		</div>
	</div>
</body>
</html>