<!DOCTYPE html>
<html>
<head th:insert="fragments/head.html"/>
<body>

	<nav th:insert="fragments/navbar.html :: navbar"></nav>
	
	<div th:if="${session.user_id == user.id}">
		<form th:action="@{${T(com.example.demo.utils.Routes).USER_DELETE}}" th:method="post" onsubmit="return confirm('Are you sure?');" >
			<div class="form-group">
				<input type="submit" class="btn btn-secondary wiz-btn-secondary" value="Delete Profile" name="submit">
			</div>
		</form>
		<a th:href="@{${T(com.example.demo.utils.Routes).USER_UPDATE}}" class="btn btn-secondary">Edit</a>
	</div>
	<img alt="profileImage" th:if="${#strings.isEmpty(user.imageUrl)}" th:src="@{/images/default.png}"/>
	<img alt="profileImage" th:if="${!#strings.isEmpty(user.imageUrl)}" th:src="@{${'/profile/image/'+imageName+'/'+imageExt}}"/>
	<h1 th:text="${user.username}"></h1>
	<h2 th:text="${user.email}"></h2>
	<h1>Description</h1>
	<p th:text="${user.description}"></p>
	<h1>Favorite games</h1>
	<div th:each="rpg : ${user.favoriteRpgs}">
		<div th:replace="fragments/rpg-card.html :: rpg-card(title=${rpg.name}, creator=${rpg.creator.username}, content=${rpg.description}, link=@{${T(com.example.demo.utils.Routes).RPG_DETAILS + rpg.id}})"></div>
		</div>
	</div>
</body>
</html>