<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="fragments/head.html" />
<body>
	<nav th:insert="fragments/navbar.html :: navbar"></nav>
	<div class="container">
		<h2>Administration</h2>
		<h3>Users</h3>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Username</th>
					<th class="text-right pr-4" scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td><a th:text="${user.username}" th:href="@{${T(com.example.demo.utils.Routes).USER_DETAILS + user.id}}"></a></td>
					<td class="text-right">
						<form th:action="@{${T(com.example.demo.utils.Routes).USER_DETAILS + user.id + '/delete'}}" th:method="post" id="formDeleteProfile">
							<input type="hidden" id="email" name="email" th:value="${user.email}">
							<input class="btn btn-danger" type="submit" value="Delete" name="submit">
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<h3>RPGs</h3>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Name</th>
					<th class="text-right pr-4" scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="rpg : ${rpgs}">
					<td><a th:text="${rpg.name}" th:href="@{${T(com.example.demo.utils.Routes).RPG_DETAILS + rpg.id}}"></a></td>
					<td class="text-right">
						<form class="d-inline" th:action="@{${T(com.example.demo.utils.Routes).RPG_DETAILS + rpg.id + '/delete'}}" method="post" th:object="${rpg}">
							<input type="hidden" th:field="*{id}" id="rpg" name="rpg" value="${rpg.id}">
							<input type="submit" class="btn btn-danger" value="Delete" name="submit">
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<h3>Scenarios</h3>
				<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Name</th>
					<th class="text-right pr-4" scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="scenario : ${scenarios}">
					<td><a th:text="${scenario.name}" th:href="@{${T(com.example.demo.utils.Routes).SCENARIO_DETAILS + scenario.id}}"></a></td>
					<td class="text-right">
						<form class="d-inline" th:action="@{${T(com.example.demo.utils.Routes).SCENARIO_DETAILS + rpg.id + '/delete'}}" method="post" th:object="${scenario}">
							<input type="hidden" th:field="*{id}" id="rpg" name="rpg" value="${scenario.id}">
							<input type="submit" class="btn btn-danger" value="Delete" name="submit">
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>